{{#if user}}
    <div class="ui three column centered grid">
        <div class="column"></div>
        <div class="column">
            <h1>Сообщения для {{user}}</h1>
            <ul class="ui list">
                {{#each messages}}
                    <li>{{m}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="column"></div>
    </div>
{{else}}
    <h1>Ведите пользователя</h1>
{{/if}}
